#page-body {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

#logo {
    width: 120px;
}

#obrazok-hlavna {
    /*width: 90%;
    height: 90%;*/
}

#decor {
    width: 70%;
}

.light-text {
    color: #ffffff !important;
}

.dark-text {
    color: #000000 !important;
}

.dropdown-item:hover {
    color: black !important;
}

.about-us {
    font-family: "Bookman Old Style";
    font-size: 15px;
    position: relative;
    text-align: center;
    top: 1vh;
}

.container {
    width: 95%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.center-text {
    text-align: center;
}

.button-buy {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #1f69b2;
    font-weight: bold;
    text-align: center;
}

.button-login {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    font-weight: bold;
    text-align: center;
}

.button-login:hover {
    background-color: #000000;
    color: #ffffff;
}

.button-buy:hover {
    background-color: #1f69b2;
    color: #ffffff;
}

.food-type {
    margin: auto;
    position: relative;
    float: bottom;
    width: 70%;
    background-color: transparent !important;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    offset-position: 20px;
    padding: 2px;
}

.products-img {
    float: left;
    padding: 2px;
    overflow: hidden;
    margin-bottom: 20px;
    height:auto;
}

.products-title {
    font-weight: bold;
    text-align: center;
    font-style: italic;
    padding: 20px 0;
}

h2 {
    font-family: "Bookman Old Style";
    font-size: 20px !important;
}

.menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.card-colors {
    color: #000000;
}

#mainNavigation a {
    font-family: "Bookman Old Style", sans-serif;
    font-size:15px;
    text-transform:uppercase;
    letter-spacing:2px;
}

.fa-reorder {
    font-size:15px !important;
}

.fa-reorder:hover {
    color: white;
}

.menu-colors {
    color: black;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.nav-item a:hover {
    color:#ffffff
}

.nav-item{
    min-width:12vw;
}

#mainNavigation {
    padding-bottom:20px;
}

#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav{
    padding:12px;
}

.my-div {
    border-bottom-style: double;
    border-bottom-color: black;
}

.ed-buttons {
    float: right;
    margin: 3px;
}

.card-title {
    color: white;
    font-size: 25px;
    text-underline: transparent;
    text-shadow: 2px 2px 3px blue;
    padding: 2px;
    font-weight: bold;
}

.text-dm {
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 25px;
}

.zlozenie {
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 3px red;
}

.profile-info {
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 3px red;
    padding: 5px;
}

.icon {
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 3px red;
    padding-left: 25px;
    padding-right: 5px;
}

.cena {
    color: black;
    font-size: 30px;
    padding: 10px;
}

h1 {
    font-family: "Bookman Old Style" !important;
    font-size: 25px !important;
    text-shadow: 1px 1px 2px blue !important;
    color: black !important;
    position: relative;
    top: 0vh;
    bottom: 0vh;
    text-align: center !important;
    font-weight: bold;
}

h2 {
    color: red;
    font-size: 25px !important;
    text-underline: transparent;
    text-shadow: 2px 2px 3px blue;
    pointer-events: none;
    padding: 3px;
    font-family: "Bookman Old Style" !important;
    position: relative;
    text-align: center !important;
    font-weight: bold;
}

h3 {
    font-family: "Bookman Old Style" !important;
    color: white;
    font-size: 18px !important;
    text-shadow: 2px 2px 3px red;
    text-align: center;
    font-weight: bold;
}

h4 {
    font-family: "Bookman Old Style" !important;
    color: black;
    font-size: 25px !important;
    text-shadow: 2px 2px 3px white;
    text-align: center;
}

.icon-back {
    color: black;
    text-underline: transparent !important;
    font-size: 400% !important;
    text-align: left !important;
}

.zmenit_cas {
    text-align: center !important;
    text-shadow: 1px 1px 2px black !important;
    color: red !important;
    font-size: 20px;
    font-family: "Bookman Old Style" !important;
}

.dni_text {
    font-family: "Bookman Old Style" !important;
    font-size: 30px !important;
    text-shadow: 2px 2px 2px black !important;
    color: red !important;
    position: relative;
    top: 0vh;
    bottom: 0vh;
    text-align: center !important;
    font-weight: bold;
    padding-left: 10%;
}

.profile_style {
    font-family: "Bookman Old Style" !important;
    font-size: 20px !important;
    text-shadow: 2px 2px 2px black !important;
    color: red !important;
    position: relative;
    top: 0vh;
    bottom: 0vh;
    text-align: center !important;
    font-weight: bold;
    padding-left: 10%;
}

.food_types {
    position: relative;
    float: bottom;
    width: 100%;
}

.food_types_title {
    font-weight: bold;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 3px red !important;
    color: white !important;
}

.containers {
    position: relative;
    width: 20%;
    padding-top: 1% !important;
    padding: 2%;
}

.profile_containers {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 40%;
    padding-top: 0.8% !important;
}

.food_containers {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
    padding-top: 0.8% !important;
}

.daily_menu_containers {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 70%;
    padding-top: 1% !important;
}

.cart_containers {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 40%;
    padding-top: 1% !important;
}

.food_types_image {
    display: block;
    width: 100%;
    height: auto;
}

.food_menu_image {
    display: block;
    width: 60%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.food_image {
    width: 10%;
    height: 10%;
}

.profile_image {
    display: block;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    position: absolute;
    top: 16.5%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 80%;
    height: 75%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 100px !important;
    padding: 20%;
    padding-top: 30%;
    text-align: center;
}

.overlay_top {
    position: absolute;
    top: 2%;
    left: 15%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 70%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 40px !important;
    padding: 20px;
    text-align: center;
}

.overlay_down {
    position: absolute;
    bottom: 8.5%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 80%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 40px;
    padding: 5%;
    text-align: center;
}

.overlay_botton_rigth {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 30%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 40px;
    padding: 5%;
    text-align: center;
}

.overlay_botton_left {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 30%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 40px;
    padding: 5%;
    text-align: center;
}

.overlay_up_rigth {
    position: absolute;
    top: 16.5%;
    right: 10%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 35%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.overlay_up_left {
    position: absolute;
    top: 16.5%;
    left: 10%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 35%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.overlay_left_up {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 15%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.overlay_left_down {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 15%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.overlay_all {
    position: absolute;
    bottom: 0;
    rigth: 0;
    left: 80%;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 20%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 500% !important;
    padding: 10px;
    text-align: center;
    padding-top: 5%;
}

.containers:hover .overlay {
    opacity: 1;
}

.containers:hover .overlay_down {
    opacity: 1;
}

.containers:hover .overlay_up_left {
    opacity: 1;
}

.containers:hover .overlay_up_rigth {
    opacity: 1;
}

.profile_containers:hover .overlay_top {
    opacity: 1;
}

.daily_menu_containers:hover .overlay_botton_rigth {
    opacity: 1;
}

.daily_menu_containers:hover .overlay_botton_left {
    opacity: 1;
}

.food_containers:hover .overlay_all {
    opacity: 1;
}

.food_containers:hover .overlay_left_up {
    opacity: 1;
}

.food_containers:hover .overlay_left_down {
    opacity: 1;
}